{% extends 'mailing_app/base.html' %}

{% block title %}Список получателей{% endblock %}

{% block content %}
    <div class="recipients-container">
        <h1 class="recipients-title">Список получателей</h1>
        <div class="add-recipient-container">
            <a href="{% url 'mailing_app:recipient_create' %}" class="add-recipient-btn">Добавить получателя</a>
        </div>
        <div class="recipients-table">
            <div class="table-header">
                <div>ФИО</div>
                <div>E-mail</div>
                <div>Комментарий</div>
                <div>Действия</div>
            </div>

            {% for recipient in recipients %}
            <div class="table-row">
                <div class="table-cell" data-label="ФИО">
                    <a href="{% url 'mailing_app:recipient_detail' recipient.pk %}" class="recipient-name-link">
                        {{ recipient.name }}
                    </a>
                </div>
                <div class="table-cell" data-label="E-mail">{{ recipient.email }}</div>
                <div class="table-cell" data-label="Комментарий">{{ recipient.comment|truncatechars:20 }}</div>
                {% if user == recipient.owner %}
                <div class="table-cell" data-label="Действия">
                    <div class="table-actions">
                        <a href="{% url 'mailing_app:recipient_update' recipient.pk %}" class="edit-btn">Редактировать</a>
                        <a href="{% url 'mailing_app:recipient_delete' recipient.pk %}" class="cancel-btn">Удалить</a>
                    </div>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>

        <div style="text-align: center;">
            <a href="{% url 'mailing_app:main_menu' %}" class="back-btn">Назад в главное меню</a>
        </div>
    </div>
{% endblock %}
