{% extends 'mailing_app/base.html' %}

{% block title %}Добавить получателя{% endblock %}

{% block content %}
<div class="form-container">
    <div class="form-box">
        <h1 class="form-title">Добавить получателя</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="form-buttons">
                <button type="submit" class="menu-btn">Сохранить</button>
                <a href="{% url 'mailing_app:recipient_list' %}" class="cancel-btn">Отмена</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}