{% extends 'base.html' %}
{% block content %}
<div class="password-reset-confirm-container">
    <div class="password-reset-confirm-box">
        <h2 class="password-reset-confirm-title">Новый пароль</h2>
        <p class="password-reset-confirm-message">
            Введите новый пароль для вашего аккаунта.
        </p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="password-reset-confirm-btn">Сохранить новый пароль</button>
        </form>
        <a href="{% url 'users:login' %}" class="back-to-login">Назад к входу</a>
    </div>
</div>
{% endblock %}
